.blog {
  padding: 0px 0px 30px;
  &__top {
    background: url(../../assets/images/blog.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;

    &__info {
      text-align: center;
    }

    &__title {
      font-family: Poppins;
      font-size: 44px;
      font-weight: 500;
      line-height: 58px;
      letter-spacing: -1px;
      text-align: center;
      color: #121212;
    }

    &__text {
      //styleName: Body 1;
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
      color: #121212;
    }
  }

  &__category {
    display: flex;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    &-item {
      border: 1px solid #aaa5;
      margin: 20px 0px 10px;
      background-color: white;
      cursor: pointer;
      min-width: 200px;
      text-align: center;
      padding: 4px 4px;
      scroll-behavior: smooth;
    }

    &-item:hover {
      background-color: #aaa4;
    }

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  &__btn {
    padding: 10px 30px;
    width: 170px;
    border-radius: 40px;
    margin: 20px auto;
    display: block;
    background-color: transparent;
    border: 1px solid #aaa5;
  }

  @media (max-width: 450px) {
    &__top {
      height: 250px;
    }

    &__top__title {
      font-family: Poppins;
      font-size: 34px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
    }

    &__category {
      display: flex;
      align-items: center;
      overflow-y: auto;
      gap: 10px;
      &-item {
        border: 1px solid #aaa5;
        margin: 20px 0px 10px;
        background-color: white;
        cursor: pointer;
        min-width: 150px;
        text-align: center;
        padding: 4px 4px;
        scroll-behavior: smooth;
        font-size: 12px;
      }
    }
  }
}
