.product {
  padding-top: 30px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-family: Poppins;
      font-size: 40px;
      line-height: 46px;
      width: 10%;
      font-weight: 500;
      text-align: left;
      color: #141718;
      padding: 10px 0px;
    }

    &__text {
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      text-align: left;
      color: #141718;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  // &__pegination {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-end;
  //   align-items: flex-end;
  //   margin-top: 20px;
  //   background-color: red;
  // }

  &__card__star {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__card__img {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  &__card__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
  }

  &__card {
    overflow: hidden;
    border-radius: 5px;

    &__img-add {
      position: absolute;
      left: 10px;
      right: 10px;
      width: 90%;
      bottom: -40px;
      padding: 8px 10px;
      border-radius: 6px;
      background-color: #141718;
      color: white;
      border: none;
      transition: 0.6s;
      display: grid;
      place-items: center;
    }
  }

  &__card__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px 10px;
    gap: 10px;

    button {
      border: none;
      background-color: transparent;
      font-size: 20px;
      cursor: pointer;
    }

    &-delete {
      color: red;
      font-size: 30px;
    }
  }

  &__card:hover &__card__img-add {
    bottom: 10px;
  }

  &__card__img__heart {
    position: absolute;
    top: 15px;
    transition: 0.6s;
    right: -30px;
    button {
      display: flex;
      justify-content: center;
      place-items: center;
      width: 30px;
      height: 30px;
      background-color: white;
      border: none;
      border-radius: 50%;
    }
    svg {
      font-size: 18px;
    }
  }

  &__card:hover &__card__img__heart {
    right: 10px;
  }

  &__card__img__btn {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0px;
    button {
      width: 50px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      text-align: center;
      padding: 3px 6px;
      border-radius: 4px;
      border: none;
    }
  }

  &__card__img__new {
    color: #141718;
    background-color: white;
  }

  &__card__img__sale {
    background-color: #38cb89;
    color: white;
  }

  &__card__info__title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #141718;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  &__card__info__text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #141718;
  }

  @media (max-width: 1070px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  }

  @media (max-width: 800px) {
    &__top {
      h3 {
        font-size: 20px;
        width: 100%;
      }
      &__text {
        width: 200px;
      }
    }
  }

  @media (max-width: 600px) {
    &__top {
      flex-wrap: wrap;
    }
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
  }

  @media (max-width: 400px) {
    &__card__img {
      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
    }
  }
  @media (max-width: 350px) {
    &__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
  }
}
