@media (max-width: 500px) {
  .css-wjh20t-MuiPagination-ul {
    gap: 2px;
  }

  .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
    width: 10px;
    height: 20px;
    font-size: 10px;
  }
}
